/.DS_Store
/GeneticAlgorithm_2_SetCoveringProblem-SCP41-2.ipynb
/GeneticAlgorithm_2_SetCoveringProblem-SCP52-2.ipynb
/GeneticAlgorithm_2_SetCoveringProblem-SCP62-2 copy.ipynb
/GeneticAlgorithm_2_SetCoveringProblem-SCP62-2.ipynb
/HW2.pdf